{% extends "base.html" %}

{% block page_content %}
    <h1><a href="/">DMX SmartBulb Control</a></h1>
    <div>
        <div><a href="?discovery">Scan for Bulbs</a></div>
        <div><a href="javascript:void(0);" id="disable-all">Disable All</a></div>
        <div><a href="javascript:void(0);" id="enable-all">Enable All</a></div>
        <div>Global: <span class="colorpicker" id="cp-global">??????</span><a href="javascript:void(0);" id="update-all-defaults">Save as Defaults</a></div>
    </div>
    <form class="form-horizontal" method="post" action="">{% csrf_token %}
        {{ formset.management_form }}
        <table id="bulb-table" class="table table-striped">
            <thead>
                <th>Note</th>
                <th></th>
                {% for field in formset.forms.0.visible_fields %}
                    {% if not field.is_hidden %}
                        <th>{{ field.label }}</th>
                    {% endif %}
                {% endfor %}
            </thead>
            <tbody>
                {% for form in formset %}
                    <tr class="formset_row dynamic">
                        <td class="note">
                            <span class="colorpicker">??????</span>
                            <span class="text">{{ form.note }}</span>
                        </td>
                        <td>
                            <a class="bulb-query" href="javascript:void(0);">Query</a>
                        </td>
                        {% for field in form.visible_fields %}
                            <td>
                                {% if forloop.first %}
                                    {% for hidden in form.hidden_fields %}
                                        {{ hidden }}
                                    {% endfor %}
                                {% endif %}
                                {{ field.errors.as_ul }}
                                {{ field }}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <!-- {{formset}} -->
        <button type="submit" formaction=".">Save Changes</button>
    </form>
    <div id="cp-modal" class="modal">
        <div class="modal-content container">
            <div class="row">
                <div id="picker" class="col-auto"></div>
                <div id="picker-temp" class="col-auto"></div>
            </div>
        </div>
    </div>
    {% load static %}
    <script src="{% static 'jquery-2.2.4.min.js' %}"></script>
    <script src="{% static 'jquery.formset.js' %}"></script>
    <script src="{% static 'bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'tinycolor.js' %}"></script>
    <script src="{% static 'iro.min.js' %}"></script>
    <!-- <script src="{% static 'bootstrap.colorpickersliders.js' %}"></script> -->
    <script type="text/javascript">
        // Initialize dynamic form adding/deletion
        $('.formset_row').formset({
            addText: 'Add New',
            deleteText: 'Delete',
            prefix: "{{ formset.prefix }}",
        });

        // Hide extra row if there are already some rows present
        rows = $('#bulb-table > tbody').children('.formset_row');
        urlParams = new URLSearchParams(window.location.search);
        if (rows.length > 1 & !urlParams.has('discovery')) {
            $(rows[rows.length-1]).css('display','none')
        }

        var colorPicker = new iro.ColorPicker("#picker", {
            layout: [
                {
                    component: iro.ui.Slider,
                    options: {
                        sliderType: 'hue'
                    }
                },
                {
                    component: iro.ui.Slider,
                    options: {
                        sliderType: 'saturation'
                    }
                },
                {
                    component: iro.ui.Slider,
                    options: {
                        sliderType: 'value'
                    }
                },
                {component: iro.ui.Wheel},
            ],
            layoutDirection: "horizontal"
        });

        var colorPickerTemp = new iro.ColorPicker("#picker-temp", {
            layout: [
                {
                    component: iro.ui.Slider,
                    options: {
                        sliderType: 'kelvin',
                        minTemperature: 2500,
                        maxTemperature: 9000,
                    }
                },
                {
                    component: iro.ui.Slider,
                    options: {
                        sliderType: 'value',
                    }
                },
            ],
            layoutDirection: "horizontal"
        });

        let cp_clicked = null;

        function throttle(func, interval) {
            var lastCall = 0;
            return function() {
                var now = Date.now();
                if (lastCall + interval < now) {
                    lastCall = now;
                    return func.apply(this, arguments);
                }
            };
        }
        
        $(".colorpicker").on("click", function(e){
            cp_clicked = $(this);
            text = $(this).text();
            if (text == "??????") {
                text = "#CCCCCC"
            }
            re_result = /^t:(\d+),v:(\d+)$/.exec(text);
            color = new iro.Color(text);
            if (re_result) {
                color.value = re_result[2];
                color.kelvin = re_result[1];
            }
            colorPicker.color.set(color)
            $("#cp-modal").css("display","block");
        })

        $("#cp-modal").on("mousedown", function(e){
            if (e.target !== this)
                return;

            $("#cp-modal").css("display","none");
            cp_clicked = null
        })

        colorPicker.on("color:change", throttle(function(color) {
            if (cp_clicked == null)
                return;

            hsv = color.hsv;
            h = Math.round(hsv['h']);
            s = Math.round(hsv['s']);
            v = Math.round(hsv['v']);

            disp_str = color.hexString

            if (cp_clicked.attr('id') == 'cp-global') {
                elements = $("tr.formset_row .colorpicker");
                cp_clicked.text(disp_str)
                cp_clicked.css("background-color", color.hslString);
            } else {
                elements = cp_clicked
            }

            elements.each(function(idx,el) {
                element = $(el)
                var id = element.parent().siblings().children('[id*="-id"]').val();
                if (id == "") {
                    return;
                }
                var note = element.siblings('.text')
                var cp = element
                $.ajax({
                    url: '/set/'+id+'/h'+h+'s'+s+'v'+v,
                    type: 'GET',
                    dataType: "json",
                    success: (data) => {
                        cp.text(disp_str);
                        cp.css("background-color", color.hslString);
                    },
                    error: (error) => {
                        note.text("error");
                    }
                });
            });
        }, 150));

        colorPickerTemp.on("color:change", throttle(function(color) {
            if (cp_clicked == null)
                return;

            t = Math.round(color.kelvin);
            v = color.value;

            disp_str = "t:"+t+",v:"+v;

            if (cp_clicked.attr('id') == 'cp-global') {
                elements = $("tr.formset_row .colorpicker");
                cp_clicked.text(disp_str)
                cp_clicked.css("background-color", color.hslString);
            } else {
                elements = cp_clicked
            }

            elements.each(function(idx,el) {
                element = $(el)
                var id = element.parent().siblings().children('[id*="-id"]').val();
                if (id == "") {
                    return;
                }
                var note = element.siblings('.text')
                var cp = element
                $.ajax({
                    url: '/set/'+id+'/t'+t+'v'+v,
                    type: 'GET',
                    dataType: "json",
                    success: (data) => {
                        cp.text(disp_str);
                        cp.css("background-color", color.hslString);
                    },
                    error: (error) => {
                        note.text("error");
                    }
                });
            });
        },150));

        $('#disable-all').on("click", function() {
            $('#bulb-table input[id$="-enabled"]').prop("checked", false);
        });
        $('#enable-all').on("click", function() {
            $('#bulb-table input[id$="-enabled"]').prop("checked", true);
        });
        $('#update-all-defaults').on("click", function() {
            value = $(this).siblings('#cp-global').text();
            if (value == "??????") {
                return;
            }

            color = new iro.Color(value)
            re_result = /^t:(\d+),v:(\d+)$/.exec(value);
            h = 0
            s = 0
            v = 0
            t = 0
            if (re_result) {
                v = re_result[2];
                t = re_result[1];
            } else {
                h = Math.round(color.hue);
                s = Math.round(color.saturation);
                v = Math.round(color.value);
            }
            
            $('#bulb-table input[id$="-id"]').each(function(i, e) {
                id = $(e).val()
                if (id == "") {
                    return
                }
                $.ajax({
                    url: '/set_default/'+id+'/t'+t+'v'+v,
                    type: 'GET',
                    dataType: "json",
                    success: (data) => {
                        // console.log("default updated id: "+id)
                    },
                    error: (error) => {
                        console.log("error updating default id: "+error)
                    }
                });
            });

        });
        

        $('.bulb-query').on("click", function() {
            var id = $(this).parent().siblings().children('[id$="-id"]').val()
            var note = $(this).parent().siblings('.note').children('.text')
            var cp = $(this).parent().siblings('.note').children('.colorpicker')
            $.ajax({
                url: '/query/'+id,
                type: 'GET',
                dataType: "json",
                success: (data) => {
                    color = new iro.Color();
                    if ("t" in data) {
                        color.kelvin = data['t'];
                        color.value = data['v'];
                        disp_str = "t:"+data['t']+",v:"+data['v'];
                    } else {
                        color.set(data);
                        disp_str = color.hexString;
                    }
                    cp.text(disp_str);
                    cp.css("background-color", color.hslString);
                    note.text("");
                },
                error: (error) => {
                    cp.text("#CCCCCC");
                    note.text("error");
                }
            })
        })
    </script>
{% endblock page_content %}